@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


.screen{
    margin-left: 125px;
    margin-top: 50px;
    margin-right: 125px;
}

.egg-image img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 400px;
    width: 850px;
    border-radius: 8px;
}

.main-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.heading-text{
    width: 830px;
    font-family: Outfit;
    font-size: 20px;
    margin-bottom:45px;
    line-height: 25px;;
}

.description-section{
    background-color: rgb(197, 239, 239);
    padding: 10px;
    border-radius: 5px;
    width:850px;
}

.preparation-heading{
    color: rgb(101, 25, 172);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left:20px;
}

#preparation-description li{
    margin-left:10px;
    line-height:40px;
    font-size: 19px;
    font-family: Outfit;
    padding-left:10px;
}

.ingredient-description{
    line-height:40px;
    font-size: 19px;
    font-family: Outfit;
    padding-left:10px;
    margin-left:20px;
}

.common-heading{
    color:rgb(133, 33, 33);
    font-weight:bold;
    font-size:35px;
}

.line{
    border-bottom:1px solid grey;
    margin-top: 38px;
    margin-bottom: 38px;
}


.line2 th{
    border-bottom:1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.nutrition-section{
    font-family: Outfit;
    font-size: 19px;
    margin-bottom:40px;
}

.bordered-row th{
    font-family: Outfit;
    padding-left: 40px;
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    padding-right: 300px;
}

.normal-row th{
    font-family: Outfit;
    padding-left: 40px;
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    padding-right: 300px;
}

.orange-colour{
    color: brown;
}
